@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
blue{
  background-color: blue;
  
}
.header{
  background: linear-gradient(40deg,rgb(50, 50, 209), rgb(46, 46, 184), rgb(161, 27, 27), rgb(161, 27, 27));
  font-weight: 700;
  -webkit-background-clip:text ;
  -webkit-text-fill-color: transparent;
}
.move{
  margin: 1rem auto .8rem;
  /* width: 30%; */
}
.head{
  position: relative;
}

.bg{
 width: clamp( 450px, 75%, 800px);
 margin: 0 auto;
}
.red{
  background-color: red;
  color: white;
  padding: 0 2rem;
}
.green{
  background-color: green;
  color: white;
  padding: 0 2rem;
}
.notify{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* height: 10px; */
  transform-origin: 0%;
}
 


